<tr>
	<td>
		<%= f.hidden_field :id %>
		<%= f.simple_fields_for :points do |builder| %>
			<%= render "point_fields", :f => builder %>
		<% end %>
		<%= f.input_field :description, :label => false %>
	</td>
	<td>
	<%= link_to_edit_branch t('custom.models.branch.edit_track'), f, :points, :class => "btn btn-mini btn-primary", 'data-branchId' => f.object.id %>
	<%= link_to_remove_row t('helpers.submit.delete', model: t('activerecord.models.branch.one')), f, :class => "btn btn-mini btn-danger" %>
	</td>
</tr>