<%= simple_form_for(@railway, defaults: { input_html: { class: 'form-horizontal' } }) do |f| %>

  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :abbreviation %>
    <%= f.input :description %>
  </div>

  <hr>
  
  <div class="row">
  	<div class="span1">
      <h3><%= t 'activerecord.models.branch.other' %></h3>
    </div>
    <div class="span2">
      <%= link_to_add_branch t('helpers.submit.create', model: t('activerecord.models.branch.one')), f, :branches, :branches_table %>
    </div>
  </div>
  
  <table id="branches_table" class="table table-condensed table-hover table-striped table-bordered table-borderless">
  	<thead>
	  	<tr>
	      <th><%= t 'activerecord.attributes.branch.description' %></th>
	      <th><%= t 'activerecord.attributes.branch.color' %></th>
	      <th></th>
	    </tr>
  	</thead>
    <tbody>
    <%= f.simple_fields_for :branches do |builder| %>
  	    <%= render "branch_fields", :f => builder %>
    <% end %>
    </tbody>
  </table>

  <div class="Flexible-container" id="map_canvas"></div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<% content_for :finalize do
	javascript_include_tag 'railways'
end %>