<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @railway.name %>
</p>

<p>
  <strong>Abbreviation:</strong>
  <%= @railway.abbreviation %>
</p>

<p>
  <strong>Description:</strong>
  <%= @railway.description %>
</p>

<%= link_to 'Edit', edit_railway_path(@railway), 'data-no-turbolink' => true %> |
<%= link_to 'Back', railways_path %>
